<a href="index.html"><img src="../images/printer.jpg" height="100" width="100" /></a>
        <h1>COLLECTION NON STANDARD</h1>
		<div id="userlog">

		</div>
        <div id="out"><a id="logout" href="http://wy.test/php/logout.php"></a></div>
        <div id="liens">
            <a id="contact" href="contact.html"><p>Contactez Nous</p></a>
            <a id="carta" href="cart.html"><p>Le panier</p></a>
        </div>
