#accueil {
    display: block;
    height: 150px;
    position: relative;
    left: 20px;
    border-left: black 4px double;
    border-bottom: black 4px double;
    background: linear-gradient(to bottom,mediumaquamarine, white);
}

    #accueil img {
        display: block;
        position: relative;
        left:20px;
        padding: 20px 20px;
        border-radius: 50px;
    }

#accueil h1 {
    display: inline-block;
    position:absolute;

    left:40%;
    top:20%;
}
#liens {
    display: block;
    position: absolute;
    height: 40px;
    right: 10px;
    bottom: 0px;
}
#carta{
    display:block;
    position:relative;
    top:-45px;
    right:-10px;
}
#contact {
    display: block;
    position: relative;
    right:130px;
    bottom:10px;
}
    #left {
    display: inline-block;
    width: 300px;
    position: relative;
    height: 600px;
    left: 20px;
    top: 20px;
    border: black 4px double;
    background: linear-gradient(to right top, mediumaquamarine, white);
    overflow: scroll;
    text-align: center;
}

#left h5{
    text-align:center;
}
#left h2{
    position:relative;
    left:5%;
}

#right {
    display: inline-flex;
    position: absolute;
    width: 1337px;
    height: 600px;
    left: 356px;
    top: 175px;
    border-top: black 4px double;
    border-left: black 4px double;
    border-bottom: black 4px double;
    background: linear-gradient(to left top, mediumaquamarine, white);
    
}

    #right img {
        transition:all 0.4s ease;
    }
    #right img:hover{
        transform:scale(1.2);
    }
    #left img {
        transition: all 0.6s ease;
    }

    #left img:hover {
        transform: scale(1.1);
    }
#register form {
    display: block;
    position: relative;
    top: 15%;
    left:200px;
}

.inline {
    display:inline-block;
    position:relative;
    left:55%;
    top:-20px;
}

.fix {
    position:relative;
    left:0%
}

#tit h2 {
    display: block;
    position: relative;
    left: 540px;
}

#classify {
    display:block;
    left: 33%;
    top:5%;
    display:block;
    position: relative;
    border: double black 4px;
    height: 50px;
    width:410px;
}
#classify ul {
    position:relative;
    top:-40%;
    left:3%;
}
    #classify li {
        margin-right:25px;
        display: inline-block;
        float: left;
    }
#list{
    display:block;
    position:absolute;
    left:6%;
    top:28%;
}
.gooditems {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    height: 290px;
    width: 180px; 
}
.imgitem {
    text-align:center;
    height:240px;
    width:100%;
}
.imgitem p {
    position:relative;
    top:-5px;
    font-size:14px;
}
.goodprice {
    border: 2px solid #e01222;
    height: 22px;
    
}
.goodsbn {
    width: 149px;
    height: 24px;
    position: absolute;
    right: 1px;
    background-color: orangered;
    top: 241px;
    text-align: center;
    color:white;

}
.stock {
    height: 24px;
    display:none;
    width: 100%;
    color: white;
    background: linear-gradient(to left top, red, black);
    text-align: center;
    position: absolute;
    right: 0;
}


#foot {
    display: inline-block height 140px;
    position: relative;
    top: 40px;
    left: 20px;
    border-left: black 4px double;
    border-top: black 4px double;
    background: linear-gradient(to left, mediumaquamarine, white);
   
}
#foot h3{
    display:block;
    position:relative;
    left:47%;
}
    #foot h4 {
        display: block;
        position: relative;
        left: 50%;
    }
#bot {
    position:relative;
    left:38%;
}

#stock{
    display:none;
}

button {
    display:block;
    position:absolute;
    left:47.5%;
    top:65%;
}

#inscription{
    display:block;
    position:relative;
    margin:auto;
}

#inscription input {
    display:inline;
    position:relative;
    margin-top:20px;
}
#inscription select {
        display: inline;
        position: relative;
        margin-top: 20px;
    }


#userlog {
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
}

.logininput {
    display:inline;
    position:relative;
    color:red;
    left:15px;
}

#ains {
    display: inline;
    position: relative;
    left: 150px;
    top:-20px;
}



#out{
    display:block;
    position:relative;
    bottom:60px;
    left:93%;
}

#lien{
    display: block;
    position: relative;
    bottom: 60px;
    left: 93%;
}


body {
    display: block;
    overflow-x: hidden;
    margin: 0px;
}

#pswerr {
    display:block;
    position:relative;
    left:30px;
}